%li.list-group-item
  - if domain_name.status != "complete"
    %ins= domain_name.name
    %br
    %small 
      This Custom Domain name is being processed. Current Status :
      %strong= domain_name.status.humanize
  - else
    = link_to "//#{domain_name.name}", class: 'listing-link btn btn-link', target: "_blank" do
      %span.listing-link= domain_name.name
