#activate_listing_modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type:"button", aria: {label:"Close"}, data: {dismiss:"modal"}}
          %span{aria:{hidden:"true"}} &times;
        %h4.modal-title= cms_snippet_content("activate-listing-site-title").html_safe 

      .modal-body
        = form_tag user_listing_path(@user.id, -1), method: :put, id: 'listing_purchase_form' do
          = hidden_field_tag 'listing_id'
          = hidden_field_tag 'listing[active]', true
          %article
            .text-center
              %label.amount.lead
                %span
                  = "Yours forever for only $#{(Rails.configuration.prices[:basic_listing].to_i/100)}"
              %br    
              %script{src: "https://checkout.stripe.com/checkout.js", class: "stripe-button", data: {key: "#{Rails.configuration.stripe[:publishable_key]}", email: "#{current_user.email}", name: "#{cms_snippet_content("store-name").html_safe }", panel: {label: "#{cms_snippet_content("basic-listing-purchase-form-cta").html_safe }"}, label: "#{cms_snippet_content("basic-listing-purchase-cta").html_safe }", description: "Single Listing Site", amount: "#{Rails.configuration.prices[:basic_listing]}"}}
                 
      .modal-footer
        = link_to "https://www.stripe.com", target: "_blank" do
          =image_tag("big.png")
