= simple_form_for [@user, @listing], html: {id: 'edit_listing_form'} do |f|
  %h2 
    Listing Details
    = f.submit 'Save', {class: 'btn btn-default btn-sm', id: 'submit_listing_button'}
    = f.hidden_field :preview, value: true
  = error_explanation @listing 
  
  = f.input :address, label: "What's the address?"
  = f.input :title, label: "What title do you want at the top of the listing?", hint: "Something like \"One of a kind home in quaint neighborhood\""
  = f.input :video_link, as: :string, label: "Do you have a video to link to?"

  .row
    .col-md-6
      = f.input :price
    .col-md-6
      = f.input :bedrooms, collection: 1..20, label: "How many bedrooms?"
  .row
    .col-md-6
      = f.input :sq_ft, label: "How many square feet?"
    .col-md-6
      = f.input :bathrooms, collection: (1..20).step(0.5), label: "How many bathrooms?"
  <hr>
  = f.input :short_description, hint: "This should be one or two sentences.", as: :wysihtml5
  <hr>
  = f.input :description, hint: "Here is where you put the full description.", as: :wysihtml5  
