= simple_form_for [@user, @listing], html: {id: 'edit_listing_form'} do |f|
  %h2 
    Listing Details
    = f.submit 'Save Listing', {class: 'btn btn-default btn-primary', id: 'submit_listing_button'}
    = f.hidden_field :preview, value: true

  = error_explanation @listing 
  
  .row
    .col-md-12
      = label_tag 'listing[web_address]', "#{ENV['AWS_SITE_BUCKET']}\\ "
      = text_field_tag 'listing[web_address]', @listing.web_address, id: "listing_web_address", size: 40
      = link_to "Check Availability", check_availability_listings_path(address: ""), remote: true, format: :json, class: "btn btn-default btn-xs", id: 'name_checker'

  .row
    .col-md-12
      = f.input :address, label: "Street address"
  .row
    .col-md-4
      = f.input :city, label: "City"
    .col-md-4
      = f.input :state, label: "State", collection: us_states
    .col-md-4
      = f.input :zip, label: "Zip code"

  = f.input :title, label: "What title do you want at the top of the listing?", hint: "Something like \"One of a kind home in quaint neighborhood\""

  = f.input :video_link, as: :string, label: "Do you have a video on youtube?", placeholder: "ex: https://www.youtube.com/watch?v=3VIobar4Vdw", hint: "Just grab the url from your browser on youtube"


  .row
    .col-md-6
      = f.input :price
    .col-md-6
      = f.input :bedrooms, collection: 1..20, label: "How many bedrooms?"
  .row
    .col-md-6
      = f.input :sq_ft, label: "How many square feet?"
    .col-md-6
      = f.input :bathrooms, collection: (1..20).step(0.5), label: "How many bathrooms?"
  <hr>
  = f.input :short_description, hint: "This should be one or two sentences.", as: :wysihtml5
  <hr>
  = f.input :description, hint: "Here is where you put the full description.", as: :wysihtml5  
