= simple_form_for ([@user, @listing]) do |f|
  %h1 
    Edit listing
    = f.submit 'Save', {class: 'btn btn-success btn-sm'}
    = link_to [@user,@listing] do
      %button.btn.btn-default 
        Preview listing
    %div{id: "activate_button_#{@listing.id}"}= active_status(@listing)

  = error_explanation @listing 
  
  = f.input :address, label: "What's the address?"
  = f.input :title, label: "What title do you want at the top of the listing?", hint: "Something like \"One of a kind home in quaint neighborhood\""

  .row
    .col-md-6
      = f.input :price
    .col-md-6
      = f.input :bedrooms, collection: 1..20, label: "How many bedrooms?"
  .row
    .col-md-6
      = f.input :sq_ft, label: "How many square feet?"
    .col-md-6
      = f.input :bathrooms, collection: (1..20).step(0.5), label: "How many bathrooms?"
  <hr>
  = f.input :short_description, hint: "This should be one or two sentences.", as: :wysihtml5
  <hr>
  = f.input :description, hint: "Here is where you put the full description.", as: :wysihtml5
  <hr>
  = f.input :web_address, hint: "If you want a custom URL you can let us know what you'd like it to be right here."

  <hr>
  .actions
    
