#photo_uploader{:style => 'padding: 10px;'}
  .well
    %h2 Upload New Photos
    = s3_cors_fileupload_form_tag :id => 'fileupload'
  
  %hr
  %h2 
    Listing Photos
    %small
      #sort_success_message
      #sort_failure_message
  %table#listing_photos.table.table-striped
    %tbody

#current_id{data: {id: "#{@listing.id}", photo_count: "#{@photo_count || 0}", bucket: "#{ENV['AWS_BUCKET_URL_FOR_UPLOADS']}"}}

.javascript-templates
  = render 'photos/template_upload'
  = render 'photos/template_download'
  = render 'photos/template_uploaded'
