.panel.panel-default
  .panel-heading
    %h2#contact
      Contact Listing Agent
  .panel-body.text-center.lead
    .col-sm-6
      %address
        .profile_image
          = image_tag @profile.profile_pic, class: "img-responsive"
        %h2 
          = @profile.name
          %br
          %small=@profile.tag_line
    .col-sm-6
      %address
        .visible-xs
          %hr
        %p= link_to "Call Listing Agent", "tel:+#{@profile.phone_number}", class: "btn btn-lg"
        %p=mail_to @profile.contact_email
        %p.small
          DRE# 
          =@profile.dre_number

        .profile_image
          =image_tag @profile.logo, class: "img-responsive"
    
  .panel-footer

    .fb-share-button{data: {href: "@listing.web_address", type: "button"}}
    
    %a{href: "#{@listing.web_address}", class: "twitter-share-button align-bottom", data: {via: "RealtorMinis", count: "none"}}
      Tweet

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');


