.panel.panel-default
  .panel-heading
    %h2#photos
      Photographs
  .panel-body.dark-panel-body

    #main-carousel.carousel.slide
      .hidden-xs
        %ol.carousel-indicators
          -@photos.each_with_index do |photo, i|
            %li{:class => "#{ i==0 ? 'active' : '' }", :data => {:target => "#main-carousel", :slideTo => "#{i}" } }

      .carousel-inner.photo-slides
        -@photos.each_with_index do |photo, i|
          .item.img-center{:class => "#{ i==0 ? 'active' : '' }"}
            =image_tag(image_url("https://d2a87i39r9jceq.cloudfront.net/#{photo.key}"), height: 500)

      %a.left.carousel-control{href: "#main-carousel", :data => {slide: "prev"} }
        %span.icon-prev
      %a.right.carousel-control{href: "#main-carousel", :data => {slide: "next"} }
        %span.icon-next



    #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
      .slides
      %h3.title
      %a.prev ‹
      %a.next ›
      %a.close ×
      %a.play-pause 
      %ol.indicator


    .panel-group#accordian
      .panel.panel-default
        .panel-heading
          %h3#allphotos.panel-title
            %a{ href: "#collapseOne", data:{toggle: "collapse", parent: "#accordian"} }
              All Photographs 
              <small> Click to open gallery</small>
     
        #collapseOne.panel-collapse.collapse
          #panel-body.dark-panel-body
            #links
              .hidden-xs
                -@photos.each do |photo|
                  .square-image
                    =link_to image_url("https://d2a87i39r9jceq.cloudfront.net/#{photo.key}") do
                      =image_tag(image_url("https://d2a87i39r9jceq.cloudfront.net/#{photo.key}"))
              .visible-xs 
                -@photos.each do |photo|
                  .img-responsive.centered-and-spaced
                    =link_to image_url("https://d2a87i39r9jceq.cloudfront.net/#{photo.key}") do
                      =image_tag(image_url("https://d2a87i39r9jceq.cloudfront.net/#{photo.key}"))
                      

    :javascript
      document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = {index: link, event: event},
          links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
      };



