.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} Realtor Minis
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#home"} Home
        %li
          %a{:href => "#about"} About
        %li
          %a{:href => "#contact"} Contact
        %li
          %button.btn.btn-green.navbar-btn{type: "button", data: {toggle: "modal", target: "#user_signup_form"}}
            Sign up
        %li
          %button.btn.btn-link.navbar-btn{type: "button", data: {toggle: "modal", target: "#user_signin_form"}}
            Login

/ ********** HEADER **********
/ %section#home
/ #h
/   .container
/     .row
/       .col-md-6
/         %h2= cms_snippet_content("home-hero").html_safe 

/         %button.btn..btn-green{type: "button", data: {toggle: "modal", target: "#user_signup_form"}}
/           Sign up
/         = link_to('Login', new_user_session_path, class: "btn  btn-clear")
/ ********** SIDE IMAGE - SECTION **********
%section#home
%section.side-image.text-heavy.clearfix#hero
  / .image-container.col-md-5.col-sm-3.pull-left
  /   .background-image-holder
  /     %img.background-image{:alt => "Background Image", :src => "assets/img/side.jpg"}


  .container
    .row.content.clearfix
      .col-md-6.col-sm-8
        #site_title
          %h1 Beautiful Listing Sites
          %h2.lead created with ease
          %h3= "For only $#{(ENV['BASIC_LISTING_PRICE'].to_i/100)}!"
          %p.lead
            Your clients love getting special treatment.  We help you give it to them.

        %button.btn.btn-lg.btn-green{type: "button", data: {toggle: "modal", target: "#user_signup_form"}}
          Sign up
        %br
        = cms_snippet_content('home-services-details').html_safe
      .col-md-5.col-sm-4
        = image_tag image_url("phone.png"), class: 'img-responsive aligncenter', width: '317'
%section#about
#g
  .container
    .row
      = cms_snippet_content("home-key-features").html_safe



/ ********** WHITE SECTION - IMAGE PHONE **********
.container
  .row.mtb
    .col-md-5
      %h1
        Effortlessly create your site
      %h3.mb
        Let's walk through it in 4 easy steps:

      %p= cms_snippet_content('home-step-1-2').html_safe
      %p= cms_snippet_content('home-step-3-4').html_safe
      %button.btn.btn-green{type: "button", data: {toggle: "modal", target: "#user_signup_form"}}
        Sign up
    .col-md-7
      
/ ********** GREY SECTION - BLOG **********
/ #grey
/   .container
/     .row.w
/       .col-md-4
/         %img.img-responsive.aligncenter{:alt => "", :src => "assets/img/blog01.jpg"}/
/         .date
/           %h4
/             %bold 13
/           %h4 Sep
/         %h5 The Food You Need
/         %p.desc
/           Posted by Frank Smith in
/           %b Tips
/         %p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
/         %p
/           %a{:href => "#"} Continue Reading...
/       / /col-md-4
/       .col-md-4
/         %img.img-responsive.aligncenter{:alt => "", :src => "assets/img/blog02.jpg"}/
/         .date
/           %h4
/             %bold 28
/           %h4 Aug
/         %h5 Thinking About Life
/         %p.desc
/           Posted by Frank Smith in
/           %b Thougts
/         %p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
/         %p
/           %a{:href => "#"} Continue Reading...
/       / /col-md-4
/       .col-md-4
/         %img.img-responsive.aligncenter{:alt => "", :src => "assets/img/blog03.jpg"}/
/         .date
/           %h4
/             %bold 13
/           %h4 Jul
/         %h5 Visiting The Mountains
/         %p.desc
/           Posted by Frank Smith in
/           %b Travel
/         %p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
/         %p
/           %a{:href => "#"} Continue Reading...
/       / /col-md-4
/     / /row
/ /GREY
/ ********** WHITE SECTION - CTA **********
#grey
  %section#contact
  .container
    .row.mtb2
      .col-md-8.col-md-offset-2.centered
        %h5 Have any questions?
        %h2.bold.mb
          We would love to hear from you.
        = mail_to("contact@realtorminis.com", "contact@realtorminis.com", class: "btn  btn-green")

#f
  .container
    .row
      .col-md-8.col-md-offset-2.centered
        %p
          %a{:href => "#"}
            %i.ion-social-twitter
          %a{:href => "#"}
            %i.ion-social-instagram
          %a{:href => "#"}
            %i.ion-social-facebook
        %hr.aligncenter
        %p= "RealtorMinis.com | Copyright #{Date.today.year}"


= render 'devise/registrations/new_modal'
= render 'devise/sessions/login_modal'
