#user_signin_form.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type:"button", aria: {label:"Close"}, data: {dismiss:"modal"}}
          %span{aria:{hidden:"true"}} &times;
        %h2.modal-title= cms_snippet_content("sign-in-title").html_safe 
      .modal-body
        = simple_form_for(:user, url: session_path("user")) do |f|
          .form-inputs
            = f.input :email, required: false, autofocus: true
            = f.input :password, required: false
            = f.input :remember_me, as: :boolean, class: 'user_remember_me'
            .clearfix
          .form-actions.text-center
            %hr.aligncenter
            = f.button :submit, "Log in"



        