%div{:style => 'padding: 10px;'}
  %h2 Upload photo(s)
  = s3_cors_fileupload_form_tag :id => 'fileupload'
  
  .javascript-templates
    = render 'template_upload'
    = render 'template_download'
    = render 'template_uploaded'

#current_id{data: {id: "#{@listing.slug}", photo_count: "#{@photo_count}", bucket: "#{ENV['AWS_BUCKET_URL_FOR_UPLOADS']}"}}


= javascript_include_tag 'initialize_file_upload'
