= form_for [@listing, @photo], :remote => true do

  %h1 
    Upload Listing Photos for:
    %br
    = @listing.address
  %br
  %p
    For multiple file uploading, I used the simplest version of the Jquery-File-Upload plugin. There are no bells and whistles here. First, you'll want to browse and select your file(s), Then, after clicking "Open"...BAM! The files are uploaded. There is no submit key here (yet). Right now, it's just the  basics, folks. Also, since this is a dev app, your uploaded photo files will go in the Public folder. In real life, you'd probably store them somewhere else, perhaps using Amazon's S3 cloud file storage service.
  %br
  %p#notice= notice

  Upload Photos: 
  <input id="fileupload" type="file" name="photo[photo]" multiple>

  %br
  =link_to 'Back', listings_path 
  |
  = link_to 'View Photos', listing_photos_path(@listing)
  %br

  %ul#thumbs.cf
  %script{:type => "text/javascript",
        :src  => "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
  %script{:type => "text/javascript",
        :src  => "/jquery-file-upload/vendor/jquery.ui.widget.js"}
  %script{:type => "text/javascript",
        :src  => "/jquery-file-upload/jquery.iframe-transport.js"}
  %script{:type => "text/javascript",
        :src  => "/jquery-file-upload/jquery.fileupload.js"}
  :javascript
    $(document).ajaxSend(function(e, xhr, options) {
      var token = $("meta[name='csrf-token']").attr("content");
      xhr.setRequestHeader("X-CSRF-Token", token);
    });
    $(function () {
        $('#fileupload').fileupload({
            dataType: 'json',
            url: '#{listing_photos_path(@listing.id)}',
            done: function (e, data) {
                $.each(data.result, function (index, file) { 
                   $('<li><img src="'+file.thumbnail_url+'"></li>').appendTo('#thumbs');
                });
            }
        });
    });
