<!DOCTYPE html>
%head
  %meta(charset="utf-8")
  %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
  %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  = javascript_include_tag 'https://code.jquery.com/jquery-1.11.1.min.js'
  = twitter_bootstrap_stylesheet_link_tag :netdna
  = twitter_bootstrap_javascript_include_tag :netdna
  = stylesheet_link_tag "preview", media: "all"
  = javascript_include_tag 'preview'

  %title= yield :title
  
%body
  #page_container


  %section#page
    .container-fluid
      = yield





