- content_for :pay_button do
  %button.btn.btn-sm.btn-primary
    Buy More
    %i.glyphicon.glyphicon-usd
    10

.row 
  .col-sm-12
    %h2 Account Overview
    %hr>

.row#sites
  .col-sm-12
    %h3 Active Sites

    %table.table
      %thead
        %tr
          %th Web Address
          %th Active Status
          %th First Published On
          %th Payment Details
      %tbody
        - @sites.each do |site|
          %tr
            %td= site.custom_url
            %td= site.active_status.html_safe
            %td= site.created_at.to_formatted_s(:long) 
            %td
              - if site.listing.reciept_credit
                %button.btn.btn-primary.payment_details_button{type: "button", data: {toggle: "modal", target: "#payment_details_modal", listing_id: "#{site.listing.id}"}}
                  See Details


= render partial: 'payment_details_modal'